@model business.classes.Cargo_Lider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cargo_Lider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Celula.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celula.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Liderid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
