@model business.classes.Abstrato.Ministerio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ministerio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ministro_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ministro_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximo_pessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximo_pessoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
