@model business.classes.Celula

@{
    ViewBag.Title = "Editar";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Celula</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Celulaid)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dia_semana, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dia_semana, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dia_semana, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Horario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Horario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Horario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Maximo_pessoa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Maximo_pessoa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Maximo_pessoa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Supervisor_, "Supervisor_", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Supervisor_", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Supervisor_, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="NomeSuperVisor">

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Supervisortreinamento_, "Supervisortreinamento_", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Supervisortreinamento_", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Supervisortreinamento_, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="NomeSuperVisorTreinamento">

    </div>

    @Html.HiddenFor(model => model.Lider.Liderid)
    @Html.HiddenFor(model => model.Lider_treinamento.Lidertreinamentoid)

    <div class="form-group">
        @Html.LabelFor(model => model.Lider.pessoa_, "pessoa_", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pessoa_lider_treinamento", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Lider.pessoa_, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lider_treinamento.pessoa_, "pessoa_", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pessoa_lider", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Lider_treinamento.pessoa_, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-horizontal">
        <h4>Endereco_Celula</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Endereco_Celula.enderecoid)

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco_Celula.Cel_bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco_Celula.Cel_bairro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco_Celula.Cel_bairro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco_Celula.Cel_rua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco_Celula.Cel_rua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco_Celula.Cel_rua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco_Celula.Cel_numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco_Celula.Cel_numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco_Celula.Cel_numero, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $("#pessoa_lider").append('<option value="">[deixar vazio]</option>');

        $("#pessoa_lider_treinamento").append('<option value="">[deixar vazio]</option>');

        $("#Supervisor_").change(function () {



    $.ajax({
    type: 'POST',
    url: '@Url.Action("GetSupervisor")',
    dataType: 'json',
    data: { Id: $("#Supervisor_").val() },
    success: function (data) {

    $("#NomeSuperVisor")[0].innerHTML = data;

    },
    error: function (ex) {
    alert('Falha ao buscar Supervisor.' + ex);
    }
    });
    return false;
    });




    $("#Supervisortreinamento_").change(function () {

    $.ajax({
    type: 'POST',
    url: '@Url.Action("GetSupervisorTreinamento")',
    dataType: 'json',
    data: { Id: $("#Supervisortreinamento_").val() },
    success: function (data) {

    $("#NomeSuperVisorTreinamento")[0].innerHTML = data;

    },
    error: function (ex) {
    alert('Falha ao buscar Supervisor.' + ex);
    }
    });
    return false;
    });

    </script>


}
