@model IEnumerable<business.classes.Celula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Endereco_Celula.Cel_bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lider.Liderid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lider_treinamento.Lidertreinamentoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor.Supervisorid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor_treianamento.Supervisortreinamentoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia_semana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maximo_pessoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco_Celula.Cel_bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lider.Liderid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lider_treinamento.Lidertreinamentoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor.Supervisorid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor_treianamento.Supervisortreinamentoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maximo_pessoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Celulaid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Celulaid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Celulaid })
        </td>
    </tr>
}

</table>
