@model IEnumerable<business.classes.Cargo_Lider_Ministerio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ministerio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ministerio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Lider_Ministerio }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Lider_Ministerio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Lider_Ministerio })
        </td>
    </tr>
}

</table>
