@model business.classes.Abstrato.Pessoa
@{
    ViewBag.Title = "NovoPerfil";

    string view = ViewBag.view;
}

<h2>Cadastrar Perfil</h2>

@{
    if (Model is business.classes.Pessoas.Membro_Aclamacao)
    {
        @Html.Partial("_MembroAclamacaoDado", Model);
    }
    else if (Model is business.classes.Pessoas.Membro_Batismo)
    {
        @Html.Partial("_MembroBatismoDado", Model);
    }
    else if (Model is business.classes.Pessoas.Membro_Reconciliacao)
    {
        @Html.Partial("_MembroReconciliacaoDado", Model);
    }
    else if (Model is business.classes.Pessoas.Membro_Transferencia)
    {
        @Html.Partial("_MembroTransferenciaDado", Model);
    }
    else if (Model is business.classes.Pessoas.Visitante)
    {
        @Html.Partial("_VisitanteDado", Model);
    }
    else if (Model is business.classes.Pessoas.Crianca)
    {
        @Html.Partial("_CriancaDado", Model);
    }
    else if (Model is business.classes.PessoasLgpd.Membro_AclamacaoLgpd)
    {
        @Html.Partial("_MembroAclamacaoLgpd", Model);
    }
    else if (Model is business.classes.PessoasLgpd.Membro_BatismoLgpd)
    {
        @Html.Partial("_MembroBatismoLgpd", Model);
    }
    else if (Model is business.classes.PessoasLgpd.Membro_ReconciliacaoLgpd)
    {
        @Html.Partial("_MembroReconciliacaoLgpd", Model);
    }
    else if (Model is business.classes.PessoasLgpd.Membro_TransferenciaLgpd)
    {
        @Html.Partial("_MembroTransferenciaLgpd", Model);
    }
    else if (Model is business.classes.PessoasLgpd.VisitanteLgpd)
    {
        @Html.Partial("_VisitanteLgpd", Model);
    }
    else if (Model is business.classes.PessoasLgpd.CriancaLgpd)
    {
        @Html.Partial("_CriancaLgpd", Model);
    }
}


