@model business.classes.Endereco_Celula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Endereco_Celula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Celula.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celula.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel_bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel_bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel_rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel_rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel_numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel_numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enderecoid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
