@model business.classes.Membro_Batismo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Membro_Batismo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Celula.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celula.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chamada.chamadaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamada.chamadaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone.Fone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone.Fone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo_masculino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo_masculino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo_feminino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo_feminino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_batismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_batismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desligamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desligamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo_desligamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo_desligamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
